# Local .terraform directories
**/.terraform/

# Terraform state files (local)
**/*.tfstate
**/*.tfstate.*
**/*.lock.*

# Sensitive tfvars
/terraform-infra/bootstrap/*.tfvars
*.auto.tfvars

# Crash logs
crash.log

# Ignore override files
override.tf
override.tf.json

# Ignore plan output
*.plan
interview-star-questions/**